{{friendModel | json}}

<section>
  <form method="post" (ngSubmit)="addFriend()" class="row g-3 needs-validation" #friendsForm="ngForm" novalidate>
    <div class="col-md-6">
      <label for="validationCustom01" class="form-label">First name</label>
      <input type="text" class="form-control" placeholder="Ex: John" aria-label="First name" id="validationCustom01"
             name="firstName" [(ngModel)]="friendModel.firstName" #firstName="ngModel" pattern="^([^0-9]*)$" required>
      <div *ngIf="firstName.invalid && firstName.touched" class="alert alert-danger">
        Please provide a valid Firstname
      </div>
    </div>
    <div class="col-md-6">
      <label for="validationCustom02" class="form-label">Last name</label>
      <input type="text" class="form-control" placeholder="Ex: Doe" aria-label="Last name" id="validationCustom02"
             [(ngModel)]="friendModel.lastName" name="lastName" #lastName="ngModel" pattern="^([^0-9]*)$" required>
      <div *ngIf="lastName.invalid && lastName.touched" class="alert alert-danger">
        Please provide a valid Lastname
      </div>
    </div>
    <div class="col-md-6">
      <label for="exampleFormControlInput1" class="form-label" id="exampleFormControlInput1">Email address</label>
      <input type="email" class="form-control" id="email" aria-label="email" placeholder="name@example.com"
             name="email" [(ngModel)]="friendModel.email" #email="ngModel" pattern="^\w+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$"
             required>
      <div *ngIf="email.invalid && email.touched" class="alert alert-danger">
        Please provide a valid email address.
      </div>
    </div>
    <div class="col-md-6">
      <label for="validationCustom02" class="form-label">Phone number</label>
      <input type="text" class="form-control" placeholder="+32xxxxxxx" aria-label="Phone number" name="number"
             [(ngModel)]="friendModel.phone" #number="ngModel"
             pattern="^((\+|00(\s|\s?\-\s?)?)32(\s|\s?\-\s?)?(\(0\)[\-\s]?)?|0)[1-9]((\s|\s?\-\s?)?[0-9])((\s|\s?-\s?)?[0-9])((\s|\s?-\s?)?[0-9])\s?[0-9]\s?[0-9]\s?[0-9]\s?[0-9]\s?[0-9]$"
             required>
      <div *ngIf="number.invalid && number.touched" class="alert alert-danger">
        Please provide a valid phone number.
      </div>
    </div>
    <div class="col-md-6">
      <label for="validationCustom04" class="form-label">Language</label>
      <select class="form-select" id="validationCustom04" name="languages" [(ngModel)]="friendModel.language"
              #language="ngModel" required>
        <option value="" selected disabled>Choose a language</option>
        <option *ngFor="let language of languages">{{language}}</option>
      </select>
      <div *ngIf="language.invalid && language.touched" class="alert alert-danger">
        Please select a valid option.
      </div>
    </div>
    <div class="col-12">
      <button type="submit" class="btn btn-primary" [disabled]="friendsForm.invalid">Submit</button>
    </div>
  </form>
</section>

<section class="mt-5 d-flex justify-content-center" *ngFor="let friend of allFriends">
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">{{friend.firstName | titlecase}} {{friend.lastName | titlecase}}</h5>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Email: {{friend.email }}</li>
      <li class="list-group-item">Phone: {{friend.phone}}</li>
      <li class="list-group-item">Language interested: {{friend.language}}</li>
    </ul>
  </div>
</section>
