header {
  width: 100%;
  background: cadetblue;

  .navbar-brand {
    color: #f2f2f2;
    font-weight: bold;
    font-size: 1.5rem;
  }

  .nav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .nav a:hover {
    background-color: #ddd;
    color: black;
  }

  .nav a.active {
    background-color: #4CAF50;
    color: white;
  }

  .nav {
    float: right;
  }
}
